/* Write your CSS here */
body {
  margin: 0px;
}
.counter-page-bg-container {
  height: 100vh;
  background-color: black;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter-page-container {
  background-color: #f1f5f8;
  height: 90vh;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  color: #2d3a35;
  font-size: 30px;
  font-family: 'Roboto';
  width: 85%;
  text-align: center;
}
.counter {
  color: #c20a72;
  font-style: normal;
}
.description {
  color: #2d3a35;
  font-size: 16px;
  font-family: 'Roboto';
}
.button-1 {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  background-color: #007bff;
  border-style: solid;
  border-width: 0px;
  border-radius: 5px;
  padding: 8px;
  width: 80px;
}
@media (min-width: 768px) {
  .counter-page-container {
    height: 100vh;
    width: 60%;
  }
  .main-heading {
    font-size: 40px;
    width: 58%;
  }
  .description {
    font-size: 18px;
  }
  .button-1 {
    padding: 8px;
    font-size: 10px;
    padding: 6px;
    width: 65px;
  }
}
